name: Build

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - run: npm ci
      - run: npm run build
      - name: Get version
        id: version
        run: echo "version=$(node -p 'require("./package.json").version')" >> "$GITHUB_OUTPUT"
      - name: Zip Chrome extension
        working-directory: dist/chrome
        run: zip -r "../../loadster-extension-${{ steps.version.outputs.version }}-chrome.zip" . -x '.*' '*.map'
      - name: Zip Firefox extension
        working-directory: dist/firefox
        run: zip -r "../../loadster-extension-${{ steps.version.outputs.version }}-firefox.zip" . -x '.*' '*.map'
      - name: Upload Chrome extension
        uses: actions/upload-artifact@v4
        with:
          name: loadster-extension-${{ steps.version.outputs.version }}-chrome
          path: loadster-extension-${{ steps.version.outputs.version }}-chrome.zip
          retention-days: 7
      - name: Upload Firefox extension
        uses: actions/upload-artifact@v4
        with:
          name: loadster-extension-${{ steps.version.outputs.version }}-firefox
          path: loadster-extension-${{ steps.version.outputs.version }}-firefox.zip
          retention-days: 7
